[submodule "submodules/LIB"]
	path = submodules/LIB
	url = git@github.com:IObundle/iob-lib.git
[submodule "submodules/REGFILEIF"]
	path = submodules/REGFILEIF
	url = git@github.com:IObundle/iob-regfileif.git
[submodule "submodules/ETHERNET"]
	path = submodules/ETHERNET
	url = git@github.com:IObundle/iob-eth.git
[submodule "submodules/IOBSOC"]
	path = submodules/IOBSOC
	url = git@github.com:IObundle/iob-soc.git
[submodule "submodules/GPIO"]
	path = submodules/GPIO
	url = git@github.com:IObundle/iob-gpio.git
[submodule "submodules/AXISTREAM"]
	path = submodules/AXISTREAM
	url = git@github.com:IObundle/iob-axis.git
[submodule "submodules/TESTER/submodules/ILA"]
	path = submodules/TESTER/submodules/ILA
	url = git@github.com:IObundle/iob-ila.git
[submodule "submodules/PFSM"]
	path = submodules/TESTER/submodules/PFSM
	url = git@github.com:IObundle/iob-pfsm.git
[submodule "submodules/TESTER/submodules/OPENCRYPTOLINUX"]
	path = submodules/TESTER/submodules/OPENCRYPTOLINUX
	url = git@github.com:IObundle/iob-soc-opencryptolinux.git
